<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
            $.ajax({
                    type: 'GET',
                    url: '@Url.Action("json", "Admin")',
                success: function (result) {
                    var colors = base = Highcharts.getOptions().colors;
                    colors.unshift("#FF8B26", "#FFC533", "#285FD3");


                    Highcharts.chart('container', {
                        chart: {
                            plotBackgroundColor: null,
                            plotBorderWidth: null,
                            plotShadow: false,
                            type: 'pie'
                        },
                        title: {
                            text: 'Reclamations par département'
                        }, credits: {
                            enabled: false
                        },
                        tooltip: {
                            pointFormat: '{series.name}: <br>{point.percentage:.1f} %<br>count: {point.y}'
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: false
                                },
                                showInLegend: true
                            }
                        },
                        series: [{
                            name: ' ',
                            colorByPoint: true,
                            data: result[0]
                        }]
                    });
                    //second chart starts here
                    var event = result[1]
                    var mncat = [];
                    var mnvalues = [];
                    for (var i = 0; i < event.length; i++) {
                        if (event[i].name) {
                            mncat[i] = event[i].name;
                            console.log(mncat[i]);
                        }
                        if (event[i].y) {
                            mnvalues[i] = event[i].y;
                            console.log(mnvalues[i]);
                        }
                    }



                    Highcharts.chart('container1', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: 'Reclamations par mois'
                        },
                        subtitle: {
                            text: ''
                        },
                        xAxis: {
                            categories: mncat,
                            crosshair: true,
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: "Nombre de reclamations"
                            }
                        },
                        credits: {
                            enabled: false
                        },
                        tooltip: {
                            headerFormat: '<span style="font-size:10px">Mois du {point.key}</span><br><hr>',
                            pointFormat:
                                '<span style=";font-size:12px"><b> {point.y}</b> Réclamations</span>',
                            footerFormat: '',
                            shared: true,
                            useHTML: true
                        },
                        plotOptions: {
                            column: {
                                pointPadding: 0.2,
                                borderWidth: 0
                            }
                        },
                        series: [{
                            name: 'Mois',
                            colorByPoint: true,
                            data: mnvalues
                        }]
                    });


                    var data = result[2];
                    console.log(data);
                    //third chart
                    chart = new Highcharts.Chart({

                        chart: {
                            renderTo: 'container0',
                            type: 'pie'
                        },
                        title: {
                            text: 'Etat des réclamations'
                        },
                        yAxis: {
                            title: {
                                text: 'Total percent market share'
                            }
                        },
                        plotOptions: {
                            pie: {
                                colors: colors,
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: false
                                },
                                showInLegend: true
                            }
                        },
                        tooltip: {
                            formatter: function () {
                                return '<b>' + this.point.name + '</b>: ' + this.y;
                            }
                        },
                        series: [{
                            name: 'Etat',
                            data: data,

                            innerSize: '80%',
                            showInLegend: true,


                        }]
                    });


                    //forth chart



                    var chart = result[3]
                    console.log(chart)

                    Highcharts.chart('report-line-chart', {
                        chart: {
                            type: 'spline',
                            
                        },
                        title: {
                            text: 'Evolution des contrats'
                        },



                        yAxis: {
                            title: {
                                text: 'Nombre de contrats'
                            },
                            labels: {
                                style: {
                                    color: 'D8D8D8',
                                    fontSize: '12',
                                },
                                tickColor: '#D8D8D8',
                                tickWidth: 3,

                            },
                            gridLineColor: '#D8D8D8',
                            gridLineDashStyle: 'ShortDash',
                            gridLineWidth:1
                        },



                        xAxis: {
                            categories: chart.map(x=>x.name)
                            },

                            legend: {
                                layout: 'vertical',
                                align: 'right',
                                verticalAlign: 'middle'
                            },

                            plotOptions: {
                                series: {
                                    label: {
                                        connectorAllowed: false,
                                        
                                    },
                                    color: '#3160D8',
                                  
                                    marker: {
                                        enabled: false
                                    },
                                    borderWidth: 2,
                                    borderColor: '#3160D8',
                                    backgroundColor: 'transparent',
                                    pointBorderColor: 'transparent'
                                }
                            },

                            series: [{

                                showInLegend: false,
                                data: chart
                            }],

                            responsive: {
                                rules: [{
                                    condition: {
                                        maxWidth: 500
                                    },
                                    chartOptions: {
                                        legend: {
                                            layout: 'horizontal',
                                            align: 'center',
                                            verticalAlign: 'bottom'
                                        }
                                    }
                                }]
                            }

                        
                    });

                }
                })


            })


     
     
</script>




<div class="col-span-12 lg:col-span-6 mt-8">
    <div class="intro-y block sm:flex items-center h-10">
        <h2 class="text-lg font-medium truncate mr-5">
        </h2>

    </div>
    <div class="intro-y box p-5 mt-12 sm:mt-5">
        <div class="flex flex-col xl:flex-row xl:items-center">


        </div>
        <div class="report-chart">
            <div id="container1"></div>

        </div>
    </div>
</div>
<div class="col-span-12 sm:col-span-6 lg:col-span-3 mt-8">
    <div class="intro-y flex items-center h-10">
        <h2 class="text-lg font-medium truncate mr-5">
        </h2>
        <a href="" class="ml-auto text-theme-1 dark:text-theme-10 truncate"></a>
    </div>
    <div class="intro-y box p-5 mt-5">
        <div id="container"></div>


    </div>

</div>
<!-- BEGIN: Sales Report -->
<div class="col-span-12 sm:col-span-6 lg:col-span-3 mt-8">
    <div class="intro-y flex items-center h-10">
        <h2 class="text-lg font-medium truncate mr-5">
        </h2>
        <a href="" class="ml-auto text-theme-1 dark:text-theme-10 truncate"></a>
    </div>
    <div class="intro-y box p-5 mt-5">
        <div class="mt-3" id="container0" height="280"></div>



    </div>
</div>
<!-- END: Sales Report -->
<!-- BEGIN: Sales Report -->
<div class="col-span-12 lg:col-span-12 mt-8">
    <div class="intro-y block sm:flex items-center h-10">
        <h2 class="text-lg font-medium truncate mr-5">
        </h2>
       
    </div>
    <div class="intro-y box p-5 mt-12 sm:mt-5">
        <div class="flex flex-col xl:flex-row xl:items-center">
        
        </div>
        <div class="report-chart">
            <div id="report-line-chart" height="160" class="mt-6"></div>
        </div>
    </div>
</div>
<!-- END: Sales Report -->