@model IEnumerable<PFE_reclamation.Models.Reclamation>

@{
    ViewBag.Title = "ListeRecAdmPDF";
    Layout = null;
}
<head>
    <title>Table V04</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="~/content/Table_Fixed_Header/image/png" href="images/icons/favicon.ico">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/content/Table_Fixed_Header/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/content/Table_Fixed_Header/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/content/Table_Fixed_Header/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/content/Table_Fixed_Header/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/content/Table_Fixed_Header/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/content/Table_Fixed_Header/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/content/Table_Fixed_Header/css/main.css">
    <!--===============================================================================================-->
</head>


<center><h1>LISTE DES RECLAMATIONS</h1></center><br /><br />


    

        
